{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Profile</title>
    <link href="{% static 'css/cropper.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <!-- profile name and location -->
    <div class="row">
        <div class = "col-2"></div>
        <div class="col-8">
            <br>
            <div class = "row">
                <div class="col-sm-8">
                    <h3 class="text-center text-sm-left w-100">
                        {{ profile.first_name }} {{ profile.last_name }}
                    </h3>
                </div>
                <div class="col-sm-4">
                    <p class="text-center text-sm-right w-100">
                        {{ profile.location.city }}
                    </p>
                </div>
            </div>
            {% include "core/profile/photos.html" %}
        </div>
        <div class = "col-2"></div>
    </div>
    <br>
    <div class="row justify-content-center">
        <!-- profile social networks -->
        <div class="col-sm-2">
            <h5>Seen on...</h5>
            <div class="card border-secondary">
                <div class = "text-center">
                    No social networks.
                    <br>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- profile ratings, tags, and comments -->
        <div class="col-sm-8">
            <h5>What people say about {{ profile.first_name }}</h5>
            <br>
            {% include "core/profile/star_ratings.html" %}
            <p>
                Tags
            </p>

            {% include "core/profile/tags.html" %}
            <br>
            <br>
            {% include "core/profile/comments.html" %}
            <!-- profile audit -->
        </div>
        <div class = "col-sm-2">
            <div class = "card">
                <h4>History</h4>
                {% for entry in history %}
                    <div class="border border-secondary">
                        <small><strong>{{ entry.comment }}</strong></small>
                        <br>
                        <small>{{ entry.date|date:'m/d/Y f:sa' }}</small>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src={% static 'js/profile.js' %}></script>
    <script type="text/javascript" src={% static 'js/image_crop.js' %}></script>
    <script src="{% static 'js/cropper.js' %}"></script>
{% endblock %}